body{
    margin:0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}
.login-container{
    width: 20%;
    height: 2000px;
    border: 1px solid green;
    margin: 0 auto;
}

.login-container header {
    display: flex;
    justify-content: space-between;
}

.login-container header span{
    font-weight: 200;
}
.logo {
    padding-top: 50px;
}
.logo img{
    width: 20%;
    display: block;
    margin: 0 auto;
}

.login {
    background-color: red;
    margin-top: 70px;
}

.login h1{
    font-size: 30px;
}

.login p {
    line-height: 0.3;
}

.login-btn {
    width:100%;
    height: 70px;
    background-color: yellow;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login > img {
    width: 100%;
}


