
body {
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
    box-sizing: border-box;
    /* outline: none; */
}

li {
    list-style: none;
}

.beige {
    background-color: beige;
}

.orange {
    background-color: orange;
}
.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.gray {
    background-color: gray;
}

.skyblue {
    background-color: skyblue;
}

.azure {
    background-color: azure;
}

.darkcyan {
    background-color: darkcyan;
}

.brown {
    background-color: brown;
}

.greenyellow{
    background-color: greenyellow;
}

.palevioletred {
    background-color: palevioletred;
}

.red {
    background-color: red
}

.antiquewhite {
    background-color: antiquewhite;
}

.purple {
    background-color: purple;
}

a{
    text-decoration: none;
    color: black;      
}

h1 {
    font-size: 12px;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    z-index: 99;  
}

header .top-board {
    background-color: rgb(212, 207, 207);
    padding-top: 10px;
    padding-bottom: 10px;
}
    
header .top-board  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 20px;
}



@keyframes scroll-left {
    0% {
        transform: translateX(100%);
      }
    100% {
        transform: translateX(-100%);
      }
} 

header .second-board {
    background-color: #fff;
}

header .second-board .logo-box {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header .second-board .logo-box.scroll{
    width: 100%;
    height: auto;
}

header .second-board .logo-box.scroll img{
    width: 250px;
    transition: all 0.2s ease-in;
}
    
header .second-board > .logo-box > a > img {
    width: 400px;
    transition: all 0.2s ease-in;
}

header .second-board .left_menu > .material-icons {
    cursor: pointer;
}

header .second-board .right_menu {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

header .second-board .right_menu a {
    color: black;
    text-decoration: none;
}

/* MAIN */

main {
    width: 100%;
    position: absolute;
    top: 185px;
}

/* SECTION */
section{
    width: 300vw;
    display: flex;
}

section .slide-wrapper{
    width: 100vw;
    display: flex;
}

section .slide-wrapper img {
    width: 33.33vw;
}


/* BANNER */
.banner {
    background-color: #fff;
    min-width: 1200px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.banner.scroll{
    position: fixed;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.banner a{
    font-size: 15px;
    font-weight: 700;
    margin-right: 20px;
    color: #333;
    text-decoration: none;
}

/* CODY */ 
.cody-wrapper {
    width: 300vw;
    display: flex;
    position: relative;
}

.cody-wrapper .prev,
.cody-wrapper .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.cody-wrapper .prev{
    position: absolute;
    left: 3%;
}

.cody-wrapper .next{
    left: 28.5%;
}

.cody-wrapper .prev span.material-icons,
.cody-wrapper .next span.material-icons  {
    font-size: 80px;
}

.cody-slide{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



.cody-slide > .wrapper{ 
    width: 70%;
    transition: all 1s ease;
} 

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper a:not(:last-child) {
    margin-right: 75px;
}

.wrapper img {
    width: 100%;
}



/* WEEKLY BEST */
.weekly {
    width: 100%;
    padding-top: 300px;
}

.weekly > .title {
    width: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.weekly > .title h1 {
    font-weight: 700;
    font-size: 18px;
}

.weekly > .title p {
    font-weight: 300;
    font-size: 12px;
}

.weekly .weekly_product {
    display: flex;
}

.weekly .weekly_product a {
    margin-right: 75px;
}

.weekly .weekly_product a img {
    width: 333px;
}

.under_bar {
    width: 600px;
    height: 3px;
    background-color: darkgray;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    margin-top: 100px;
}

.under_bar > .bar-el {
    width: 100px;    
}

.intultive {
    width: 100%;
    height: 400px;
}
    
.intultive .title {
    width: 245px; 
    margin: 0 auto;
    margin-top: 200px;
}

.intultive .title h1{
    font-size: 20px;
    font-weight: 700;
}

.intultive .intultive-btn {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.intultive .intultive-btn > button {
    width: 100px;
    height: 25px;
    background-color: #fff;
    border: 2px solid gainsboro;
    cursor: pointer;
    color: gray;
    font-weight: 300;
    margin-right: 20px;
}

.intultive .intultive-btn > button:hover {
    border: 2px solid #333;
    color: #333;
}

.intultive .intultive-items {
    width: 1000px;    
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    overflow: hidden;
}

.intultive .intultive-items .item-list{
    display: flex;
}

.intultive .intultive-items .item-list a {
    margin-right: 51px;
}

.intultive .intultive-items .item-list a img{
    width: 200px; 
}

/* ITEM CONTENTS */
.item__contents {
    width: 100%;
    margin: 0 auto;
    margin-top: 400px;   
}

.item__contents .title{ 
    height: 75px;
    text-align: center;        
}

.item__contents .title h1 {
    font-size: 24px;
} 

.item__contents .title p {
    color: gray;
    font-weight: 500;
    font-size: 15px;
}
   
.item__contents  .container_item .description > a {
    display: inline-block;
}

.item__contents  .container_item .description h2{
    font-size: 12px;
    font-weight: 600;
}

.item__contents  .container_item .description p{
    color: gray;
    font-weight: 500;
}

.item__contents  .container_item .description p.blur {
    text-decoration: line-through;
    font-weight: 700;        
}

.item__contents .container_item .color-border {
    display: flex;
    margin-top: 10px;
}

.item__contents .container_item .color-border li {
    width: 15px;
    height: 3px;
    margin-right: 1px;
}
    
/* ARRIVALS */
.item__contents .arrivals {
    width: 80%;
    margin: 0 auto;           
}

.item__contents .arrivals .arriv-items {
    margin-bottom: 30px;
    margin-top: 120px;
    display: flex;
    justify-content: center;                  
}
            
.item__contents .arrivals .arriv-items img{
    width: 85%;
}

/* BEST ITEM */
.item__contents .best-items{
    margin-top: 300px;
}

.item__contents .best-items .best-box{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.item__contents .best-items img{ 
    width: 380px;
}   
    
/* BEST CODY */
.item__contents .best-cody {
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
}
        
.item__contents .best-cody .cody-box {
    display: flex;
}        

.item__contents .best-cody .cody-box .container_item{
    width: 100%;
}
        
.item__contents .best-cody .cody-box img{
    width: 90%;
}  

/* BADGES */
.badge {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 15%;
    bottom: 20px;
    right: 0;
}

.badge .up-scroll,
.badge .down-scroll{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 7px;
}

.badge .up-scroll .material-icons,
.badge .down-scroll .material-icons {
    font-size: 40px;
    cursor: pointer;
}

.badge a img{
    width: 100%;
}
    
