
    body {
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
    box-sizing: border-box;
    /* outline: none; */
    }

/* HEADER */
header {
    width: 100%;
    position: fixed;
    
}

header .top-board {
    background-color: rgb(212, 207, 207);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}


header .top-board  a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


@keyframes scroll-left {
    0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    } 


header .second-board {
    width: 100%;
    background-color: #fff;
}

header .second-board .logo-box {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

header .second-board .logo-box.scroll{
    width: 50%;
    height: auto;
    margin: 0 auto;
}


header .second-board a img {
    width: 330px;
    height: 60px;
}

header .second-board .left_menu > .material-icons {
    cursor: pointer;
}

header .second-board .right_menu {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

header .second-board .right_menu a {
    color: black;
    text-decoration: none;
}



/* OVERVIEW LINE */
 header .overview {
    display: none;
    
}

header .overview .container_items {
    display: flex;
}



header .overview.block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 480px;
    background-color: beige;

}

main {
    width: 100%;
    padding-top: 160px;
}

main .container_items {
    /* border: 5px solid yellow; */

}


main .container_items .popular-items {
    display: flex;
}


main .container_items .popular-items > a > img {
    width: 50vw;
    height: 1070px;
    
}

main .container_items .banner {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container_items .banner a{
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    color: #333;
    text-decoration: none;
}




 .cody_items{
    width: 1100px;
    /* height: 400px; */
    
    margin: 0 auto;
    display: flex;
    
    overflow: hidden;
}

 .cody_items > .cody_list {
   display: flex;
   /* background-color: red; */
   
   
   margin-right: 50px;

}

 .cody_items > .cody_list a {
   margin-right: 50px;
}

 .cody_items > .cody_list a img{
    width: 333px;
}




/* WEEKLY BEST */

.weekly {
    width: 100%;
    padding-top: 300px;
}
.weekly > .title {
    width: 200px;
    display: block;
    margin: 0 auto;
    
    text-align: center;
    
}

.weekly > .title h1 {
    font-weight: 700;
    font-size: 18px;
}

.weekly > .title p {
    font-weight: 300;
    font-size: 12px;
}

.weekly .weekly_product {
    display: flex;
}

.weekly .weekly_product a {
    margin-right: 75px;
}

.weekly .weekly_product a img {
    width: 333px;

}

.under_bar {
    width: 600px;
    height: 3px;
    background-color: darkgray;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    margin-top: 100px;
}

 .under_bar > .bar-el {
    width: 100px;
    /* background-color: #333; */
    
}

.intultive {
    width: 100%;
    height: 400px;
    
}

.intultive .title {
    width: 245px;
    
    margin: 0 auto;
    margin-top: 200px;
}
.intultive .title h1{
    font-size: 20px;
    font-weight: 700;

}

.intultive .intultive-btn {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.intultive .intultive-btn > button {
    width: 100px;
    height: 25px;
    background-color: #fff;
    border: 2px solid gainsboro;
    cursor: pointer;
    color: gray;
    font-weight: 300;
    margin-right: 20px;
}
.intultive .intultive-btn > button:hover {
    border: 2px solid #333;
    color: #333;
}

.intultive .intultive-item {
    width: 1000px;
    height: 300px;
    border: 2px dashed gray;
    margin: 0 auto;
}